<!DOCTYPE html>
<html>
<head>
  <title>ReactOnRails</title>
  <%= env_stylesheet_link_tag(hot: 'application', static: 'application-static', media: 'all', 'data-turbolinks-track' => true) %>

  <!-- Load the hot assets. -->
  <%= env_javascript_include_tag(hot: 'http://localhost:3500/webpack-bundle.js') %>

  <!-- Load the application -->
  <%= env_javascript_include_tag(hot: 'application', static: 'application-static', 'data-turbolinks-track' => true) %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
